// $primary-orange: pink;
$primary-orange: #fc4c02;
$primary-orange-hover: #d94f16;
$primary-gray: #dfdfe8;
$secondary-gray: #696969;
$secondary-gray-hover: #f0f0f0;
$logo-font: 'Syncopate', sans-serif;
