// $primary-orange: pink;
$background-color: #f7f7fa;
$primary-orange: #fc4c02;
$primary-orange-hover: #d94f16;
$primary-gray: #dfdfe8;
$secondary-gray: #696969;
$secondary-gray-hover: #f0f0f0;
$secondary-blue-hover: #0D6A92;
$logo-font: 'Syncopate', sans-serif;
// $logo-font: 'Sarpanch', sans-serif;
// $logo-font: 'Emblema One', cursive;
$my-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
$my-box-shadow-2: 0px 2px 4px 0px rgba(0,0,0,0.2);

$cal-heatmap-1: #ffaf8c;
$cal-heatmap-2: #ff8049;
$cal-heatmap-3: #fc6626;
$cal-heatmap-4: #fc4c02;

