// $primary-orange: pink;
$background-color: #f7f7fa;
$primary-orange: #fc4c02;
$primary-orange-hover: #d94f16;
$primary-gray: #dfdfe8;
$secondary-gray: #696969;
$secondary-gray-hover: #f0f0f0;
$secondary-blue-hover: #0D6A92;
$logo-font: 'Syncopate', sans-serif;
// $logo-font: 'Sarpanch', sans-serif;
// $logo-font: 'Emblema One', cursive;
