@import 'partials/_base.scss';

.feed-header-body {
    display: flex;
    flex-direction: column;
}
.feed-header {
    //border: 1px solid green;
    width: 100%;
}
.feed-group * {
    // height: 55px;
    box-sizing: border-box;
}
.feed-drop {
    background-color: rgba(0,0,0,0);
    position: relative;
    text-align: center;
    z-index: 2;

    border: 2px solid rgba(0, 0, 0, 0);
    height: 40px;
    width: 200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: $secondary-gray;
    cursor: pointer;
    padding: 10px;

    transition: all 0.25s linear;
}
.feed-drop:hover {
    background-color: #fff;
    box-shadow: $my-box-shadow;

}
.feed-show {
    border: $secondary-blue-hover 2px solid;
    box-shadow: $my-box-shadow;
    background-color: #fff;
}
.feed-show .dropdown-content {
    display: flex;
    top: 38px;
    width: 200px;
}
// .dropdown_menu-7{
.feed-drop-content{
    font-size: 15px;

    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
    
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}

}
.feed-drop-content li:hover{
    color: $secondary-blue-hover;
}
.feed-footer {
    text-align: center;
    font-size: 15px;
    //border: 1px solid red;
    line-height: 1.5;
    color: $secondary-gray;
    // width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.feed-body-container {
    // border: 1px solid orange;
    margin: 10px auto;
    // background-color: #fff;
    width: 100%;
}
.feed-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
    width: 100%;
}
.feed-body-scroll {
    border: 1px solid $primary-gray;
    border-radius: 5px;
    // padding-left: 10px;
    // padding-right: 10px;

    box-shadow: $my-box-shadow;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // border: 1px solid red;
    width: calc(100%-20px);
    max-height: 600px;
}
.feed-item {
    background-color: #fff;
    box-shadow: $my-box-shadow;
    margin-bottom: 20px;
    width: 95%;
}
.feed-description {
    color: $secondary-gray;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0 30px;
    // flex-direction: column;
}
.feed-description h3 {
    padding: 10px 0;
}
.feed-description p{
    font-size: 75%;
    color: black;
}
// .feed-item p {
//     padding: 16px;
// }
.feed-item-link-disabled:hover p {
    color: unset !important;
}
.feed-item-link-disabled {
    cursor: unset;
}
.feed-item-link {
    text-decoration: none;
    color: inherit;
}
.feed-item-header {
    // border: 1px solid green;
    padding: 20px 30px;
    flex-direction: row;
    justify-content: flex-start;
}
.feed-pic {
    height: 30px;
}
.feed-username {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    text-align: left;
    padding: 2px 25px;
}
.feed-item-date {
    font-size: 12px;
    padding: 2px 25px;
    color: $secondary-gray;
}
.feed-item-header:hover .profile-username {
    color: $secondary-blue-hover;
}
.feed-item-title p {
    margin: auto 0;
}
.feed-item-title {
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
.feed-item-title:hover p {
    color: $secondary-blue-hover;
}
.feed-item-title i {
    font-size: 20px;
    min-width: 30px;
    text-align: center;
    margin: 0;
    margin-right: 20px;
}
.feed-stats {
    // margin-bottom: 10px;
    font-weight: normal;
    padding-top: 16px;
    padding-bottom: 16px;
}
.feed-stat-item {
    margin: 5px 0;
}
.feed-stat-title {
    padding-top: 0;
}
