@import 'partials/_base.scss';

.feed-header {
    border: 1px solid green;
    width: 100%;
}
.feed-group * {
    // height: 55px;
    box-sizing: border-box;
}
.feed-drop {
    background-color: rgba(0,0,0,0);
    position: relative;
    text-align: center;
    z-index: 2;

    border: 2px solid rgba(0, 0, 0, 0);
    height: 40px;
    width: 200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: $secondary-gray;
    cursor: pointer;
    padding: 10px;

    transition: all 0.25s linear;
}
.feed-drop:hover {
    background-color: #fff;
    box-shadow: $my-box-shadow;

}
.feed-show {
    border: $secondary-blue-hover 2px solid;
    box-shadow: $my-box-shadow;
    background-color: #fff;
}
.feed-show .dropdown-content {
    display: flex;
    top: 38px;
    width: 200px;
}
// .dropdown_menu-7{
.feed-drop-content{
    font-size: 15px;

    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
    
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}

}
.feed-drop-content li:hover{
    color: $secondary-blue-hover
}
.feed-footer {
    text-align: center;
    font-size: 15px;
    border: 1px solid red;
    line-height: 1.5;
    color: $secondary-gray;
    // width: 50%;
}