@import 'partials/_base.scss';

#global-dashboard{
    position: relative;
}
.dashboard-container {
    position: relative;
    // max-width: 1200px;
    width: 90%;
    margin-top: 30px;
    height: calc(100% - 110px);
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.dashboard-profile {
    min-width: 270px;
    height: 270px;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
}
.dashboard-feed {
    width: 700px;
    max-width: 700px;
    border: 1px solid blue;
    box-shadow: $my-box-shadow;
}
.dashboard-sidebar {
    max-width: 300px;
    border: 1px solid green;
    color: $secondary-gray;
    padding: 0px;
}
.profile-container {
    position: absolute;
    top: 25px;
    // width: 20%;
    // height: 100px;
    background-color: #fff;
    box-shadow: $my-box-shadow;
}
.profile-pic {
    content: url('./double-up-arrow.png');
    height: 50px;
}
.profile-icon-group {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
}
.profile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // color: $secondary-gray;
    cursor: pointer;
    padding: 10px;
    height: 100%;

}
.profile-username {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center
}
.profile-icon-group:hover .profile-username {
    color: $secondary-blue-hover;
}
.profile-stats {
    margin-top: 50px;
    // margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid $primary-gray;
}
.stat-item {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    padding: 0 10px;
}
.item-left {
    border-right: 1px solid $primary-gray;
}
.item-right {
    border-left: 1px solid $primary-gray;
}
.stat-title {
    padding: 10px 0;
    font-size: 15px;
    color: $secondary-gray
}
.stat-value {
    font-size: 20px;
}

.profile-latest {
    padding: 20px;
}
.latest-header {
    padding-bottom: 10px;
}
.latest-body span {
    font-weight: bold;
}
.latest-link {
    text-decoration: none;
    color: black;
}
.latest-body:hover * {
    color: $secondary-blue-hover;
}

.feed-group * {
    // height: 55px;
    box-sizing: border-box;
}
.feed-drop {
    background-color: rgba(0,0,0,0);
    position: relative;
    text-align: center;
    z-index: 2;

    border: 2px solid rgba(0, 0, 0, 0);
    height: 40px;
    width: 200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: $secondary-gray;
    cursor: pointer;
    padding: 10px;

    transition: background-color 0.25s linear;
    transition: border 0.25s linear;
}
.feed-drop:hover {
    background-color: #fff;
    box-shadow: $my-box-shadow;
    transition: background-color 0.25s linear;
    transition: border 0.25s linear;

}
.feed-show {
    border: $secondary-blue-hover 2px solid;
    box-shadow: $my-box-shadow;
    background-color: #fff;
}
.feed-show .dropdown-content {
    display: flex;
    top: 40px;
    width: 200px;
}
// .dropdown_menu-7{
.feed-drop-content{
    font-size: 15px;

    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
    
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}

}
.feed-drop-content li:hover{
    color: $secondary-blue-hover
}

.dashboard-sidebar {
}
.sidebar-links {
    color: $secondary-gray;
    // width: 100%;
    min-width: 250px;
}
.sidebar-links * {
    color: inherit;
    text-decoration: none;
}
.sidebar-links li {
    width: 95%;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: $my-box-shadow;
    font-size: 15px;
    position: relative;
    height: 30px;
}
.sidebar-links i {
    font-size: 30px;
}