@import 'partials/_base.scss';

#global-dashboard{
    position: relative;
}
.dashboard-container {
    position: relative;
    // max-width: 1000px;
    width: 90%;
    margin-top: 30px;
    height: calc(100% - 110px);
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.dashboard-profile {
    border: 1px solid orange;
    width: 20%;
}
.dashboard-feed {
    border: 1px solid blue;
    width: 40%;
}
.dashboard-sidebar {
    border: 1px solid green;
    width: 20%;
}

