@import 'partials/_base.scss';

.dropdown-menu {
    position: relative;
    text-align: center;
    z-index: 60;
}
.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    left: -1px;
    top: 55px;
    border: 1px solid $primary-gray;
    min-width: 170px;
    color: $secondary-gray;
    background-color: #fff;
    box-shadow: $my-box-shadow;
    padding: 0 0 0 0;
    z-index: 1000;
}
.nav-link {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: flex;
    justify-content: left;
}
.dropdown-content li{
    color: inherit;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: left;
}
.dropdown-content li *{
    text-decoration: none;
    color: inherit;
}
.dropdown-content li:hover{
    background-color: $secondary-gray-hover;
}
.dropdown-menu:hover .dropdown-content{
    display: flex;
}