.activity-new-form-container {
    width: 100%;
}
.activity-edit-form {
    font-size: 15px;
    margin: 0 auto;
    margin-top: 10px;
    // width: 100%;
    padding: 2%;
    width: 96%;
}
.dist-input {
    display: inline-block;
}
.dur-input-group p, .dist-input-group p {
    margin-top: 10px;
    margin-right: 10px;
}
.dur-input-group, .dist-input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dur-input {
    width: 10%;
    margin: 0;
    display: inline-block;
}
.r1, .r2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.r1, .r2, .r3, .r4 {
    margin-bottom: 20px;
}
.time-input {
    margin-left: 30px;
}
.descr-input {
    min-height: 300px;
    text-align: start;
}
.dur-group {
    margin-left: 50px;
}
.activity-edit-form .session-submit {
    width: 25%;
}
.activity-errors, .route-errors {
    font-weight: normal;
    font-size: 12px;
    top: unset;
    left: 0px;
    transform: translate(10%,0%);
    bottom: 75px;
    height: 40px;
    width: 25%;
}
.activity-errors-arrow, .route-errors-arrow {
    top: 60px;
}