@import 'partials/_base.scss';

.form-submit {
    height: 40px;
}
.activity-form-route {
    width: 35%;
}
.activity-form-container .filter-container {
    min-width: 300px;
}
.activity-form-container .activity-edit-form {
    margin-left: 0;
    width: calc(65% - 80px);
}
.show-container .table-container {
    width: 95%;
}
.activity-form-container .table-container {
    min-width: 300px;
}
.user-show-header .table-container, .show-container .table-container, .activity-form-container .table-container {
    max-height: 500px;
    overflow: scroll;
    box-shadow: $my-box-shadow;
}

.activity-form-container {
    // max-height: 750px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.activity-edit-form-body .map {
    width: 70%;
    margin-left: 35px;
}
.activity-edit-form-content {
    width: 30%;
}
.activity-edit-form-body {
    display: flex;
    flex-direction: row;
}
.activity-edit-form {
    font-size: 15px;
    margin: 0 auto;
    // width: 100%;
    padding: 2%;
    width: 96%;
    min-width: 400px;
}
.route-form .dur-group {
    margin: 0;
    margin-top: 20px;
}
.route-form .r1 {
    flex-direction: column;
}
.dist-input {
    display: inline-block;
}
.dur-input-group p, .dist-input-group p {
    font-size: 36px;
    margin-top: 10px;
    margin-right: 10px;
}
.dur-input-group, .dist-input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: $secondary-gray;
}
.dur-input-group {
    justify-content: space-between;
}
.dur-input {
    width: 10%;
    min-width: 60px;
    margin: 0;
    display: inline-block;
}
.r1, .r2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.r1, .r2, .r3, .r4 {
    margin-bottom: 20px;
}
.time-input {
    margin-left: 30px;
}
.filter-input {
    font-family: inherit;
}
.descr-input {
    min-height: 300px;
    text-align: start;
    font-family: inherit;
}
.dur-group {
    margin-left: 50px;
}
.activity-edit-form .session-submit {
    height: 50px;
    width: 100%;
    // width: 25%;
    min-width: 200px;
}
.activity-errors, .route-errors {
    font-weight: normal;
    font-size: 12px;
    top: unset;
    left: 9px;
    transform: translate(10%,0%);
    bottom: 85px;
    height: 40px;
    width: 25%;
}
.route-errors {
    bottom: 95px;
}
.activity-errors-arrow, .route-errors-arrow {
    top: 60px;
}


.index-item-select {
    // width: 200px;
    background-color: $primary-orange;
    color: white !important;
    border: lightgray 1px solid;
    padding: 5px 0 !important;
    // margin-top: 10px;
}
.index-item-select:hover {
    background-color: $primary-orange-hover;
    text-decoration: none !important;
}
.activity-form-route .index-item-edit {
    min-width: 70px;
}