@import 'partials/_base.scss';

#global-index{
    position: relative;
}
.index-container {
    position: relative;
    // max-width: 1200px;
    width: 90%;
    margin-top: 12px;
    height: calc(100% - 110px);
    // border: 1px solid red;
    font-size: 30px;
    font-weight: bold;
    //
    flex-direction: column;
    align-items: flex-start;
}
.index-container h1 {
    margin-top: 35px;
}
.index-list {
    margin: 15px 0;
    width: 100%;
}
.filter-container {
    border: 1px solid $secondary-gray;
    background-color: #fff;
    box-shadow: $my-box-shadow;
    border-radius: 5px;
}
.table-container {
    // border: 1px solid green;
    margin-top: 10px;
    margin-bottom: 10px;
}
.table-container h2 {
    font-weight: normal;
    font-size: 70%;
    padding: 10px;
}
.index-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid $primary-gray;
}
@for $i from 1 through 6 {
    .index-item-#{$i} {
        // border: 1px solid red;
        // height: 100%;
        padding: 10px 5px;
        // cursor: pointer;
    }
}
.table-col {
    cursor: pointer;
}
.table-col:hover {
    background-color: $secondary-gray-hover;
}
.index-link:hover {
    text-decoration: underline;
}
.index-link {
    text-decoration: none;
    color: $secondary-blue-hover;
    cursor: pointer;
}
.index-item-1 {
    width: 13%;
    min-width: 150px;
    font-size: inherit;
    font-weight: normal;
}
.feed-item-title {
    cursor: unset;
}
.index-item-2 {
    width: 12%
}
.index-item-3 {
    min-width: 140px;
    width: 35%;
    font-weight: bold;
}
.index-item-4 {
    min-width: 50px;
    width: 10%
}
.index-item-5 {
    min-width: 50px;
    width: 10%
}
.index-item-6 {
    min-width: 50px;
    width: 10%
}
.index-item-edit {
    width: 5%;
    // border: 1px solid red;
    padding: 10px 0;
}
.index-item-delete {
    width: 5%;
    // border: 1px solid red;
    padding: 10px 0;
}

.index-table-header {
    background-color: $primary-gray;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    // border: 1px solid blue;
    border-bottom: 2px solid lightgray;
    min-width: 625px;
}
.table-col {
    font-weight: bold;
}
.index-header-selected {
    background-color: $secondary-gray-hover;
}
