@import 'partials/_base.scss';

#global-index {
    position: relative;
    // border: 1px solid red;
}
.show-profile {
    margin-top: 52px;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 20%;
}
.show-profile-overview:hover {
    background-color: $secondary-gray-hover;
}
.show-profile-overview {
    width: 100%;
    min-width: 120px;
    height: 50px;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.show-profile-overview div {
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid $primary-gray;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.show-profile-links {
    // border: 1px solid $primary-gray;
    // border-left: 3px solid $background-color;
    margin: 0;
    // padding: 0;
    height: 50px;
    width: 90%;
    min-width: 120px;
    display:flex;
    justify-content: space-between;
}
.show-profile-link {
    text-decoration: none;
    color: inherit;
    border: 1px solid $primary-gray;
    width: 50%;
    height: 100%;
    // text-align: center;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-overview-link {
    width: 90%;
    border: none;
    // border-right:2px solid $primary-gray;
}
.show-link-right {
    border-left:none;
}
.show-profile-link:hover {
    background-color: $secondary-gray-hover;
}
.overview-empty {
    min-width: 3px;
    height: 50px;
    border-top: 1px solid $background-color;
    border-bottom: 1px solid $background-color;
    background-color: $background-color;
}
.show-selected {
    border-top: 1px solid $primary-gray;
    border-bottom: 1px solid $primary-gray;
    background-color: $primary-orange;
}
.show-container {
    position: relative;
    // max-width: 1200px;
    width: 90%;
    margin-top: 12px;
    height: calc(100% - 110px);
    // border: 1px solid purple;
    font-size: 30px;
    font-weight: bold;
    //
    flex-direction: row;
    align-items: flex-start;
}
.show-body {
    position: relative;
    // max-width: 1200px;
    width: 90%;
    // width: 700px;
    // // width: 100%;
    // max-width: 700px;

    margin-top: 12px;
    height: calc(100% - 110px);
    // border: 1px solid red;
    font-size: 30px;
    font-weight: bold;
    //
    flex-direction: column;
    align-items: flex-start;
}
.feed-route * {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}
.show-delete, .show-edit {
    transition: all 0.25s linear;
}
.show-delete {
    cursor: pointer;
}
.show-delete:hover {
    color: red;
}
.show-edit:hover {
    color: lightgreen;
}
// .show-body .feed-stats {
//     flex-direction: column;
//     width: 50%;
//     // border: 1px solid orange;
//     border-left: 0.5px $primary-gray solid;
//     margin: 0;
// }
// .show-body .feed-stat-item {
//     border: none;
//     margin: 0;
// }
// .show-body .feed-item {
//     display: flex; 
//     flex-direction: row;
//     justify-content: flex-start;
//     flex-wrap: wrap;
// }
// .show-body .feed-item-left {
//     width: 50%;
//     // display: flex; 
//     border-right: 1px solid $primary-gray;
// }
// .show-body .profile-nav {
//     // padding: 0px;
//     height: 20%;
// }
// .show-body .feed-item-title, .show-body .feed-item-header{
//     margin-top: 15px;
// }
// .show-body .feed-item-link * {
//     // height: 100%;
//     cursor: default;
// }
// .show-body .feed-item-link:hover p{
//     color: inherit;
// }
// .show-body .feed-pic {
//     height: 60px;
// }
// .show-body .feed-item-title {
//     font-size: 28px;
// }
// .show-body .feed-username {
//     font-size: 20px;
// }