@import 'partials/_base.scss';

//! Session
.session-submit {
    background-color: $primary-orange;
    color: white;
    border: none;
    margin-top: 10px;
    width: 100%;
    padding: 10px 16px;
}
.session-submit:hover {
    background-color: #d94f16;
    cursor: pointer;
}
.session-form-container {
    width: 350px;
    flex-direction: column;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 5px;
    position: relative;
}
.session-msg {
    width: 342px;
    font-size: 30px;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0,0,0,0.75);
    border-radius: 5px 5px 0 0;

}
.session-form {
    display: inline-block;
    margin: 10px auto;
    margin-top: 20px;
    width: 300px;
}
.session-input {
    margin-top: 10px;
    height: 20px;
    padding: 10px 16px;
    width: calc(100% - 36px);
    border-radius: 5px;
    border: 1px solid white;
}
.session-input:focus {
    box-shadow: 0 0 5px rgba(252, 76, 2, 1);
    border: 1px solid rgba(252, 76, 2, 1);
}
.session-footer {
    color: grey;
    padding: 10px 16px;
    margin-bottom: 20px;
    text-align: center;
}
.session-form-label {
    color: white;
}
.session-radio {
    margin: 20px 0;
}
.session-errors {
    color: black;
    display: none;
    position: absolute;
    border: $primary-orange 1px solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(252, 76, 2, 1);
    // margin: 5px;
    padding: 10px;
    width: 350px;
    height: 10px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.session-errors i{
    font-size: 20px;
}
.session-errors p{
    display: inline;
}
.session-errors-display {
    display: flex;
    align-items: center;
}
.session-errors-arrow {
    position: absolute;
    left: 50px;
    top: 30px;
    // border: inherit;
	border-left: solid transparent;
	border-right: solid transparent;
	border-top: solid $primary-orange;
    border-width: 9px;
    // border-top: none;
}
