@import 'partials/_base.scss';

.hr {
    font-size: 12px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    border-top: 1px solid $primary-gray;
    height: 1px;
    width: 100%;
}
.hr-text {
    background-color: $background-color;
    color: $secondary-gray;
    display: inline-block;
    padding: 0 12px;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
}
.splash-container {
    max-width: 1000px;
    margin: 30px auto;
    height: calc(100% - 110px);
    // border: 1px solid red;
}
.splash-container h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}
.splash-group {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.splash-session-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 30px;
    // margin: 0 20px;
    // border: 1px solid red;
    min-width: 300px;
}
.splash-container-img {
    content: url("devices-header-edited.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 30px 0;
    max-height: auto;
    // width: auto;
    
    // border: 1px solid red;
}
.splash-session {
    background-color: #fff;
    color: black;
    border: 1px solid $primary-gray;
    border-radius: 0;
    width: 80%;
    padding: 10px 16px;
    font-size: 150%;
    font-weight: lighter;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.splash-session i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0%, -50%);

    font-weight: bold;
}
.splash-session:hover{
    background-color: $secondary-gray-hover;
    border: 1px solid $secondary-gray;
}
.splash-demo {
    cursor: pointer;
}