.user-show-header {
    position: relative;
    // max-width: 1200px;
    width: 90%;
    margin-top: 12px;
    height: calc(100% - 110px);
    // border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.user-show-header-stats {
    width: calc(100% - 270px - 64px); // 2 sets of padding to adj
    margin: 56px auto;
    border: 1px solid red;
}