@import 'partials/_base.scss';

.user-show-header {
    min-height: 250px;
    // height: 250px;
}
.user-show-header-stats {
    width: calc(100% - 270px - 61px); // 2 sets of padding to adj
    min-width: 950px; // 2 sets of padding to adj
    // height: 330px;
    align-items: unset;
    // margin: 50px auto;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    // align-items: center;
}
.user-show-header .table-container {
    margin-top: 16px;
}
.profile-latest-clear {
    min-height: 86px;
    width: 100%;
}
.user-stats {
    width: 270px;
    min-height: 100px;
    // border: 1px solid red;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    box-shadow: $my-box-shadow;
}
.user-stats p {
    font-weight: normal;
}
.user-stats h1 {
    font-size: 22px;
}
.user-stats h2 {
    margin: 8px 0;
}
.user-stats .filter-group {
    width: calc(100% - 20px)
}
.user-show-body {
    width: 100%;
    // border: 1px solid green;
    padding: 0px;
    margin: 64px 0;
}
.ytd-stat-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}