// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
//! Generic
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
}
//! Header
#global-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.025);
    border-bottom: 1px solid #f0f0f5;
    background-color: #fff;
    height: 55px;
    line-height: 18px;
    position: relative;
    user-select: none;
    z-index: 50;
}
#global-header, #global-header * {
    box-sizing: border-box;
}
.logo {
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 90%;
    display: inline-block;
}
.logo-content {
    font-family: 'Syncopate', sans-serif;
    color: #fc4c02;
    font-size: 35px;
}
.link {
    height: 100%;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    margin: auto;
}
.session-link {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.25s linear;
    width: 80px;
    border-radius: 5px;
}
.session-link:hover{
    transition: background-color 0.25s linear;
}
.session-link p {
    margin: 5px 0;
}
//?
.nav-bar {
    height: 55px;
    position: relative;
    width: 90%;
    justify-content: space-between;
}
.nav-bar-login {
    background-color: #fff;
    color: black;
    border: lightgray 1px solid;
}
.nav-bar-login:hover {
    background-color: #f0f0f0;
}
.nav-bar-signup {
    background-color: #fc4c02;
    color: white;
}
.nav-bar-signup:hover {
    background-color: #d94f16;
}
//! Session
.session-submit {
    background-color: #fc4c02;
    color: white;
    border: none;
    margin-top: 10px;
    width: 100%;
    padding: 10px 16px;
}
.session-submit:hover {
    background-color: #d94f16;
    cursor: pointer;
}
.session-form-container {
    width: 350px;
    flex-direction: column;
    margin-top: 50px;
    background-color: black;
    border-radius: 5px;
}
.session-msg {
    font-size: 30px;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.session-form {
    display: inline-block;
    margin: 10px auto;
    width: 300px;
}
.session-input {
    margin-top: 10px;
    height: 20px;
    padding: 10px 16px;
    width: calc(100% - 36px);
    border-radius: 5px;
}
.session-footer {
    color: grey;
    padding: 10px 16px;
    margin-bottom: 30px;
    text-align: center;
}
.session-form-label {
    color: white;
}
.session-radio {
    margin: 20px 0;
}